node-red-flows/tab1-testing
[{"id":"6ad1db97.c09ed4","type":"ibmiot out","z":"2b97b8ac.adc43","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tmydrone","deviceType":"drone","eventCommandType":"fly","format":"json","data":"___","qos":"","name":"toDrone","service":"registered","x":505,"y":457,"wires":[]},{"id":"b1b05c69.498ba8","type":"inject","z":"2b97b8ac.adc43","name":"take off and land","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":520,"wires":[["203c0b41.49f89c"]]},{"id":"203c0b41.49f89c","type":"function","z":"2b97b8ac.adc43","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#takeoffandland\"\n      }\n});\nreturn msg;","outputs":1,"x":311,"y":524,"wires":[["6ad1db97.c09ed4"]]},{"id":"c31d4743.e13728","type":"inject","z":"2b97b8ac.adc43","name":"take off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":138,"y":441,"wires":[["2c8e5f6.da6342"]]},{"id":"2c8e5f6.da6342","type":"function","z":"2b97b8ac.adc43","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#takeoff\"\n      }\n});\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":444,"wires":[["6ad1db97.c09ed4"]]},{"id":"9856fdd9.4496","type":"inject","z":"2b97b8ac.adc43","name":"land","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":151,"y":481,"wires":[["9a262485.a08a68"]]},{"id":"9a262485.a08a68","type":"function","z":"2b97b8ac.adc43","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#land\"\n      }\n});\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":485,"wires":[["6ad1db97.c09ed4","dfc3d2fb.77cd88"]]},{"id":"f1d43cd0.8a2e7","type":"ibmiot in","z":"2b97b8ac.adc43","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"FromDashBoard","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":"1","x":179.5,"y":61.25,"wires":[["1a531821.0fd478"]]},{"id":"dfc3d2fb.77cd88","type":"debug","z":"2b97b8ac.adc43","name":"toDroneController","active":true,"console":"false","complete":"payload","x":530,"y":526,"wires":[]},{"id":"80076283.0a4d4","type":"function","z":"2b97b8ac.adc43","name":"Fliter Test Data","func":"\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n  //  \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":395,"y":110,"wires":[["64691e75.0fcb1","ca406f63.0d8a28"]]},{"id":"1a531821.0fd478","type":"function","z":"2b97b8ac.adc43","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":63,"wires":[["80076283.0a4d4"]]},{"id":"64691e75.0fcb1","type":"debug","z":"2b97b8ac.adc43","name":"FromCAR","active":true,"console":"false","complete":"payload","x":595.4444580078125,"y":61.111122131347656,"wires":[]},{"id":"56b666f4.e4f27","type":"comment","z":"2b97b8ac.adc43","name":"Manual Test of Commands","info":"","x":178.5,"y":388.75,"wires":[]},{"id":"ca406f63.0d8a28","type":"function","z":"2b97b8ac.adc43","name":"Check For Intent","func":"\nvar action = \"#land\";\nvar action1 = \"MarkusAction\";\nif(msg.payload.intent == \"land\")\n action = \"#land\";\n\nif(msg.payload.intent == \"takeoff\")\n action = \"#takeoff\";\n\nmsg.payload = JSON.stringify({\n    d: {\n        action : action1,\n        text : msg.payload.response\n      }\n});\nreturn msg;\n\n","outputs":1,"noerr":0,"x":617.6666870117188,"y":113.77780151367188,"wires":[["f1e8a9be.4ea29","64691e75.0fcb1"]]},{"id":"f1e8a9be.4ea29","type":"ibmiot out","z":"2b97b8ac.adc43","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"tmydrone","deviceType":"drone","eventCommandType":"fly","format":"json","data":"___","qos":"","name":"ToDrone","service":"registered","x":883.0001220703125,"y":122.88885498046875,"wires":[]},{"id":"2165da1e.f4fed6","type":"ibmiot in","z":"2b97b8ac.adc43","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"battery","commandType":"","format":"json","name":"FromRaspberryPi","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":209,"wires":[["690d0d96.4a05a4","15abce6b.bfd95a"]]},{"id":"690d0d96.4a05a4","type":"debug","z":"2b97b8ac.adc43","name":"DroneALL","active":true,"console":"false","complete":"payload","x":389,"y":209,"wires":[]},{"id":"15abce6b.bfd95a","type":"cloudant out","z":"2b97b8ac.adc43","name":"storedroneevents","cloudant":"","database":"storedroneevents","service":"dronenr-cloudantNoSQLDB","payonly":false,"operation":"insert","x":195.27780151367188,"y":282.58331298828125,"wires":[]},{"id":"974bc284.bc0178","type":"function","z":"2b97b8ac.adc43","name":"Select","func":"\ncts = Date.now();// (6 * 60 * 60);\nyts = cts - (24*60*60); //86400\nrts = getRandomInt(180,720);\nstart = yts - rts;\nend =  yts + rts;\n//Range    random start\n msg.payload2={//[1472243784541p TO 1472244024199]\n  \"q\": \"ts:[\"+end+ \" TO \"+cts+\"]\",\n  \"limit\": 10\n}\n//single   \n msg.payload={//[1472243784541 TO 1472244024199]\n  \"q\": \"*:*\",\n  \"limit\": 200\n}\nreturn msg;\n\nfunction getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1) + min);\n}","outputs":1,"noerr":0,"x":918,"y":339,"wires":[["8f41d1ee.7bac6"]]},{"id":"8f41d1ee.7bac6","type":"cloudant in","z":"2b97b8ac.adc43","name":"Find Doc Range","cloudant":"","database":"storedroneevents","service":"dronenr-cloudantNoSQLDB","search":"_idx_","design":"tsDD","index":"newSearch","x":754.5,"y":416.25,"wires":[["cb425de6.6644e8"]]},{"id":"b833753f.3d657","type":"debug","z":"2b97b8ac.adc43","name":"Infos","active":true,"console":"false","complete":"payload","x":934.5,"y":541.25,"wires":[]},{"id":"32d9ca82.3c66ee","type":"inject","z":"2b97b8ac.adc43","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":766,"y":340.5,"wires":[["974bc284.bc0178"]]},{"id":"cb425de6.6644e8","type":"function","z":"2b97b8ac.adc43","name":"PickARecord","func":"\nvar mylen =  msg.payload.length-1;\nnode.status({fill:\"green\",shape:\"dot\",text: \"\"});\n\na=Math.floor((Math.random() * mylen) + 1);\nnode.status({fill:\"green\",shape:\"dot\",text: \"Record:\"+a +\"/\"+mylen});\n\nmsg.payload = {\"d\":{\"lastNavData\" : msg.payload[a].d}}\n\n\n\nreturn msg;    ","outputs":1,"noerr":0,"x":952,"y":413,"wires":[["b833753f.3d657","e762d30a.c5588"]]},{"id":"e762d30a.c5588","type":"ibmiot out","z":"2b97b8ac.adc43","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"raspberrypi","deviceType":"0.14.6","eventCommandType":"status","format":"json","data":"payoad","qos":0,"name":"IBM IoT","service":"registered","x":943.5,"y":477.5,"wires":[]},{"id":"45581a71.e3683c","type":"comment","z":"2b97b8ac.adc43","name":" Testing Connection","info":"","x":171,"y":20,"wires":[]},{"id":"ed96a45e.e3b1d8","type":"comment","z":"2b97b8ac.adc43","name":"Replay Events","info":"","x":723,"y":291,"wires":[]}]
