node-red-flows/tab2-CarDashAndWebSockets
[{"id":"8e318fb5.60965","type":"websocket out","z":"44d51b02.2045b4","name":"/toCarDashboard","server":"545c1ae5.a3d17c","client":"","x":689.25,"y":544.25,"wires":[]},{"id":"ac83475f.bdb49","type":"function","z":"44d51b02.2045b4","name":"send context update","func":"\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"action\"     : \"OFF\", //ON OFF\n    \"appliance\"  : \"Drone\",\n    \"task\"       : \"update\",\n    \"connected\"  : context.global.status,\n    \"led\"        : context.global.led ,\n    \"count\"      : context.global.buttcnt ,\n    \"battery\"    :context.global.battery ,\n    \"myName\"     : \"\",\n    \"speak\"      : 0,\n    \"text\"       : \"\",\n    \"dir\"        :\"\",\n    \"context\"    : //Thomas John \n    {\"lastname\" : \"Watson\",\n     \"firstname\" : \"Thomas John\",\n     \"battery\"    :context.global.battery,\n     \"connected\"  : context.global.status\n    },\n     \n    \"ts\" : now,  \n\n    }};\n    \nif (context.global.status != context.global.prevstatus)    \n{\n    newPay.d.speak = 1;\n    if(context.global.status == \"online\")\n      newPay.d.text = \"Drone connected and online.\";\n    else\n      newPay.d.text = \"Drone disconnected and offline.\";\n   // newPay.d.task = \"status\";\n\n}    \n    \n    \nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":415.75,"y":602.75,"wires":[["8e318fb5.60965","53fde4c6.1a3124","ee55cd28.05c8b"]]},{"id":"45bcf833.5ac89","type":"inject","z":"44d51b02.2045b4","name":"Reset global vars","topic":"reset","payload":"MVK","payloadType":"str","repeat":"15","crontab":"","once":true,"x":159.75,"y":601.75,"wires":[["ac83475f.bdb49"]]},{"id":"ee55cd28.05c8b","type":"debug","z":"44d51b02.2045b4","name":"RESET","active":true,"console":"true","complete":"true","x":660,"y":625.5,"wires":[]},{"id":"53fde4c6.1a3124","type":"function","z":"44d51b02.2045b4","name":"SET STATUS","func":"//context.global.led = \"off\";\ncontext.global.prevstatus = context.global.status;\n\ncontext.global.status = \"offline\";\n\n//context.global.myName = \"Hans\";\n//context.global.buttcnt = 0;\n\nvar text= \"Drone status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":671.7500076293945,"y":589.2500114440918,"wires":[[]]},{"id":"dc0ade30.79d32","type":"function","z":"44d51b02.2045b4","name":"SET STATUS","func":"context.global.led = \"off\";\ncontext.global.status = \"offline\";\ncontext.global.prevstatus = \"offline\";\ncontext.global.myName = \"Hans\";\ncontext.global.buttcnt = 0;\n\nvar text= \"Drone status is offline.\";\nmsg.text=text;\n\nreturn msg;","outputs":1,"noerr":0,"x":400.75,"y":788.25,"wires":[[]]},{"id":"dc982b5b.827518","type":"inject","z":"44d51b02.2045b4","name":"Reset global vars","topic":"Init","payload":"MVK","payloadType":"str","repeat":"","crontab":"","once":true,"x":180.74999237060547,"y":706.2499885559082,"wires":[["dc0ade30.79d32"]]},{"id":"2905bd55.31abfa","type":"function","z":"44d51b02.2045b4","name":"send OFF Update","func":"//overwrites\n//msg.topic = \"iot-2/type/cmd/spray/fmt/json\";\n//msg.deviceId = \"team1\";\n//msg.deviceType = \"gladectrl\";\nvar text= \"Drone  is flying \";\n\nvar now = ( new Date() ).getTime();\nvar newPay = {\"d\":{\n    \"status\"     : \"ON\", //ON OFF\n    \"appliance\"  : \"Drone\",\n    \"task\"       : \"button\",\n    \"dir\":\"\",\n    \"ts\" : now,\n       \"speak\": 1,\n    \"text\" : text\n    }};\nvar msg = {};\nmsg.payload = newPay;\nreturn  msg;","outputs":1,"noerr":0,"x":409.75000762939453,"y":553.2500114440918,"wires":[["8e318fb5.60965"]]},{"id":"efaa50c3.3475b8","type":"inject","z":"44d51b02.2045b4","name":"Say Same thing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153.75000762939453,"y":551.2500114440918,"wires":[["2905bd55.31abfa"]]},{"id":"9070e3c9.5f3ec","type":"function","z":"44d51b02.2045b4","name":"Fliter Test Data","func":"msg.deviceId =null;\nmsg.deviceType =null;\nif ( msg.payload.output.text[0] == \"\")\nmytext = msg.payload.output.text[1];\nelse\nmytext =  msg.payload.output.text[0];\n\nmsg.payload = \n{ \n  //  \"appliance\" : msg.payload.entities[0].value,\n    \"intent\"   :  msg.payload.intents[0].intent,\n    \"response\" :  mytext\n}    ;\nreturn msg;","outputs":1,"noerr":0,"x":598.2500076293945,"y":51.25000762939453,"wires":[["68eecaaa.526634","3935711d.d17aae"]]},{"id":"68eecaaa.526634","type":"debug","z":"44d51b02.2045b4","name":"FromCAR","active":true,"console":"false","complete":"payload","x":797.2500076293945,"y":48.25000762939453,"wires":[]},{"id":"1eee7d8f.0d0ef2","type":"function","z":"44d51b02.2045b4","name":"Get Response","func":"\nmsg.payload = msg.payload.response;\n\nreturn msg;","outputs":1,"noerr":0,"x":402.25000762939453,"y":48.25000762939453,"wires":[["9070e3c9.5f3ec"]]},{"id":"326d9d0f.732aa2","type":"ibmiot in","z":"44d51b02.2045b4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"waresult","commandType":"","format":"json","name":"FromDashBoard","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":"1","x":167.75,"y":47.50000762939453,"wires":[["1eee7d8f.0d0ef2"]]},{"id":"3935711d.d17aae","type":"switch","z":"44d51b02.2045b4","name":"","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"takeoff","vt":"str"},{"t":"eq","v":"land","vt":"str"},{"t":"eq","v":"rotateclockwise","vt":"str"},{"t":"eq","v":"rotatecounterclockwise","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":296.8750114440918,"y":158.75,"wires":[["afd8971b.6f2068","80371fed.c5049"],["afd8971b.6f2068","e5a6ad38.baa88"],["afd8971b.6f2068","7df49921.c61cd8"],["afd8971b.6f2068","ebbbc825.544508"],[]]},{"id":"afd8971b.6f2068","type":"debug","z":"44d51b02.2045b4","name":"GO","active":true,"console":"true","complete":"true","x":1001.2500152587891,"y":108.75000190734863,"wires":[]},{"id":"b840e47b.275bc8","type":"ibmiot out","z":"44d51b02.2045b4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"raspberrypi","deviceType":"drone","eventCommandType":"fly","format":"json","data":"payload","qos":"0","name":"toDrone","service":"registered","x":526.25,"y":305,"wires":[]},{"id":"e643964a.b4a718","type":"inject","z":"44d51b02.2045b4","name":"take off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":154.25,"y":300,"wires":[["80371fed.c5049"]]},{"id":"80371fed.c5049","type":"function","z":"44d51b02.2045b4","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#TakeOff\"\n      }\n});\nmsg.eventOrCommandType = \"TakeOff\";\nreturn msg;","outputs":1,"noerr":0,"x":340.25,"y":302,"wires":[["b840e47b.275bc8"]]},{"id":"2bd77ad5.460af6","type":"inject","z":"44d51b02.2045b4","name":"TweetPic","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":154.25,"y":447,"wires":[["eaac2486.8654c8"]]},{"id":"eaac2486.8654c8","type":"function","z":"44d51b02.2045b4","name":"","func":"msg.payload = {};//\"\";// JSON.stringify( { d: {message : \"Hello from Picture\"}});\nmsg.eventOrCommandType = \"TweetPic\";\nreturn msg;","outputs":1,"noerr":0,"x":334.25,"y":447,"wires":[["b840e47b.275bc8"]]},{"id":"69b5dc69.acbe74","type":"inject","z":"44d51b02.2045b4","name":"land","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":149.25,"y":410,"wires":[["e5a6ad38.baa88"]]},{"id":"e5a6ad38.baa88","type":"function","z":"44d51b02.2045b4","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#land\"\n      }\n});\n\nmsg.eventOrCommandType = \"Land\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":339.25,"y":410,"wires":[["b840e47b.275bc8","4010d958.233f28"]]},{"id":"bac9a381.b019c","type":"inject","z":"44d51b02.2045b4","name":"CounterClock","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140.25,"y":370,"wires":[["ebbbc825.544508"]]},{"id":"ebbbc825.544508","type":"function","z":"44d51b02.2045b4","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#CounterClock\"\n      }\n});\nmsg.eventOrCommandType = \"CounterClock\";\nreturn msg;","outputs":1,"noerr":0,"x":338.25,"y":372,"wires":[["b840e47b.275bc8"]]},{"id":"dbbcd44f.779718","type":"inject","z":"44d51b02.2045b4","name":"Clock","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":153.25,"y":329,"wires":[["7df49921.c61cd8"]]},{"id":"7df49921.c61cd8","type":"function","z":"44d51b02.2045b4","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#clock\"\n      }\n});\nmsg.eventOrCommandType = \"Clock\";\nreturn msg;","outputs":1,"noerr":0,"x":338.25,"y":338,"wires":[["b840e47b.275bc8"]]},{"id":"4010d958.233f28","type":"debug","z":"44d51b02.2045b4","name":"","active":true,"console":"false","complete":"true","x":692,"y":377,"wires":[]},{"id":"cc689280.45915","type":"comment","z":"44d51b02.2045b4","name":"CheckIntentsAndMapToActions","info":"","x":222,"y":111,"wires":[]},{"id":"da94e5e.ac0fe18","type":"comment","z":"44d51b02.2045b4","name":"SendContextToDashboard","info":"","x":155,"y":507,"wires":[]},{"id":"545c1ae5.a3d17c","type":"websocket-listener","z":"44d51b02.2045b4","path":"/toCarDashboard","wholemsg":"false"}]
