node-red-flows/tab2-DroneDashBboard
[{"id":"67206445.1f2194","type":"debug","z":"1d34c3ad.3c8f4c","name":"","active":true,"console":"false","complete":"false","x":361.5,"y":91.5,"wires":[]},{"id":"a347b9d4.59a6","type":"ibmiot out","z":"1d34c3ad.3c8f4c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"raspberrypi","deviceType":"drone","eventCommandType":"fly","format":"json","data":"payload","qos":"0","name":"toDrone","service":"registered","x":558,"y":572,"wires":[]},{"id":"99c864b8.0439a","type":"inject","z":"1d34c3ad.3c8f4c","name":"take off","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":155,"y":504,"wires":[["bdfc9f28.b24c5"]]},{"id":"bdfc9f28.b24c5","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#TakeOff\"\n      }\n});\nmsg.eventOrCommandType = \"TakeOff\";\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":506,"wires":[["a347b9d4.59a6"]]},{"id":"b95e4de6.579798","type":"ibmiot in","z":"1d34c3ad.3c8f4c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"raspberrypi","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"FromPI","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":127.5,"y":89.25,"wires":[["67206445.1f2194","5d2366b2.20c268","cfdacd7e.1c0ea","c616d914.162158","db7ee68c.9983e8","d9032377.d91de","6577f4c3.897f9c","159d1de9.aec002","b641e47d.27e5e8","bdad0ea.8e832f"]]},{"id":"e5a0e971.a11da","type":"inject","z":"1d34c3ad.3c8f4c","name":"TweetPic","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":155,"y":651,"wires":[["7094db81.07f10c"]]},{"id":"7094db81.07f10c","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = {};//\"\";// JSON.stringify( { d: {message : \"Hello from Picture\"}});\nmsg.eventOrCommandType = \"TweetPic\";\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":651,"wires":[["a347b9d4.59a6"]]},{"id":"d6360dfb.b15ec8","type":"inject","z":"1d34c3ad.3c8f4c","name":"land","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":614,"wires":[["257a2170.7e2646"]]},{"id":"257a2170.7e2646","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#land\"\n      }\n});\n\nmsg.eventOrCommandType = \"Land\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":614,"wires":[["a347b9d4.59a6"]]},{"id":"5d2366b2.20c268","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"context.global.battery = msg.payload.d.lastNavData.Battery;\ncontext.global.status = \"online\";\nmsg.payload = msg.payload.d.lastNavData.Battery;\nreturn msg;","outputs":1,"noerr":0,"x":257,"y":165,"wires":[["1e7b2c76.ab4504"]]},{"id":"1e7b2c76.ab4504","type":"ui_gauge","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Battery Percentage","group":"Drone General Information","order":1,"format":"{{value}}","min":0,"max":"100","x":456,"y":159.75,"wires":[]},{"id":"35bfd1da.b7610e","type":"ui_text","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Control State","group":"Drone Status","order":1,"format":"{{msg.payload}}","x":447,"y":219,"wires":[]},{"id":"cfdacd7e.1c0ea","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = msg.payload.d.lastNavData.controlState;\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":222,"wires":[["35bfd1da.b7610e"]]},{"id":"eb1b591a.6a5dd8","type":"ui_chart","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Altitude","group":"Drone Movement & Positional Information","order":"12","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":433,"y":269,"wires":[[],[]]},{"id":"c616d914.162158","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = msg.payload.d.lastNavData.allData.altitude;\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":271,"wires":[["eb1b591a.6a5dd8"]]},{"id":"db7ee68c.9983e8","type":"ui_text","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Drone Rotation Y","group":"Drone Movement & Positional Information","order":"4","format":"{{msg.payload.d.allData.demo.rotation.y}}","x":742,"y":183,"wires":[]},{"id":"d9032377.d91de","type":"ui_text","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Drone Rotation X","group":"Drone Movement & Positional Information","order":"8","format":"{{msg.payload.d.allData.demo.rotation.x}}","x":742,"y":219,"wires":[]},{"id":"6577f4c3.897f9c","type":"ui_text","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Drone Rotation Z","group":"Drone Movement & Positional Information","order":"11","format":"{{msg.payload.d.allData.demo.rotation.z}}","x":742,"y":255,"wires":[]},{"id":"23992f07.6656f","type":"ui_chart","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"XYZ Rotational Values","group":"Drone Movement & Positional Information","order":"13","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":476,"y":317,"wires":[[],[]]},{"id":"159d1de9.aec002","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.topic = \"X\";\nmsg.payload = msg.payload.d.lastNavData.allData.demo.rotation.x;\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":315,"wires":[["23992f07.6656f"]]},{"id":"b641e47d.27e5e8","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.topic = \"Y\";\nmsg.payload = msg.payload.d.lastNavData.allData.demo.rotation.y;\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":352,"wires":[["23992f07.6656f"]]},{"id":"bdad0ea.8e832f","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.topic = \"Z\";\nmsg.payload = msg.payload.d.lastNavData.allData.demo.rotation.z;\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":389,"wires":[["23992f07.6656f"]]},{"id":"34b3bfef.b22ca8","type":"inject","z":"1d34c3ad.3c8f4c","name":"CounterClock","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":141,"y":574,"wires":[["26aaf30a.5afe9c"]]},{"id":"26aaf30a.5afe9c","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#Counterclock\"\n      }\n});\nmsg.eventOrCommandType = \"CounterClock\";\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":576,"wires":[["a347b9d4.59a6"]]},{"id":"ea72d939.9d67","type":"inject","z":"1d34c3ad.3c8f4c","name":"Clock","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":154,"y":533,"wires":[["40219221.e2fabc"]]},{"id":"40219221.e2fabc","type":"function","z":"1d34c3ad.3c8f4c","name":"","func":"msg.payload = JSON.stringify({\n    d: {\n        action : \"#clock\"\n      }\n});\nmsg.eventOrCommandType = \"Clock\";\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":542,"wires":[["a347b9d4.59a6"]]},{"id":"807e1e8d.01eb8","type":"ui_button","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Take Off","payload":"","topic":"Drone Control","group":"","order":1,"x":659,"y":378,"wires":[["bdfc9f28.b24c5"]]},{"id":"d633ccf0.e92ba","type":"ui_button","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Land","payload":"","topic":"Drone Control","group":"","order":"2","x":649,"y":415,"wires":[["257a2170.7e2646"]]},{"id":"b89bfdb6.0e81","type":"ui_button","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Rotate Clockwise","payload":"","topic":"Drone Control","group":"","order":"3","x":679,"y":451,"wires":[["40219221.e2fabc"]]},{"id":"21a6628a.0a51be","type":"ui_button","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"Rotate Anti-Clockwise","payload":"","topic":"Drone Control","group":"","order":"3","x":699,"y":487,"wires":[["26aaf30a.5afe9c"]]},{"id":"7a896eac.fa571","type":"ui_template","z":"1d34c3ad.3c8f4c","tab":"297b12e7.de71de","name":"","group":"DronePicture","order":1,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <img src=\"http://44192.168.0.20:8080\" height=\"200\" width=\"300\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":427,"y":387,"wires":[[]]},{"id":"697fb8d7.987178","type":"comment","z":"1d34c3ad.3c8f4c","name":"Dashboard","info":"","x":126,"y":47,"wires":[]},{"id":"8bacff60.c11bc8","type":"comment","z":"1d34c3ad.3c8f4c","name":"DashboartButtonsToDrone","info":"","x":192,"y":454,"wires":[]},{"id":"297b12e7.de71de","type":"ui_tab","z":"1d34c3ad.3c8f4c","name":"Drone","icon":"dashboard","order":"1"}]
